.container {
  width: 100%;
  height: 100%;
  background-color: grey;
  display: flex;
  flex-wrap: wrap-reverse;
}

.item {
  min-width: 200px;
  min-height: 200px;
}

.green {
  background-color: green;
  width: 33%;
  flex: 1;
  order: 3;
}

.yellow {
  background-color: yellow;
  width: 33%;
  flex: 2;
  order: 2;
}

.purple {
  width: 33%;
  background-color: purple;
  flex: 1;
  order: 1;
}