
.container {
  background-color: yellow;
  width: 800px;
  height: 400px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.purple {
  background-color: purple;
  width: 100px;
  height: 100px;
}
