* {
  margin: 0px;
  padding: 0px;
}

body{
  margin: 20px;
  background-color: #fff;
}

.wrapper {
  background-color: gray;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.navbar {
  background-color: aqua;
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 100px;
  position: fixed;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  width: auto;
  min-height: 500px;
  flex: 3;
  background-color: red;
  margin: 10px;
  order: 1;  
  justify-content: flex-end;
  align-items:  flex-end;
}

.square {
  background-color: black;      
  width: 60px;
  height: 60px;
  margin: 20px;
}

.aside {
  display: flex;
  width: auto;
  min-height: 500px;
  flex: 1;
  background-color: orange;
  margin: 10px;
  order: 0;
}

.aside2 {
  display: flex;
  width: auto;
  min-height: 500px;
  flex: 1;
  background-color: purple;
  margin: 10px;
  order: 2;
}

.footer {
  background-color: blue;
  width: 100%;
  height: 100px;
  margin: 10px auto;
}