body {
  display: flex;
  justify-content: center;
  margin: 10;
  padding: 10;
}

.wrapper {
  background-color: gray;
  display: flex;
  width: 700px;
  height: 500px;
  margin: 10;
  padding: 10;
  flex-flow: row wrap;
}


.navbar {
  background-color: purple;
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
}

a {
  background-color: cyan;
  margin: 10px;
  width: 100px;
  height: 20px;
  display: flex;
  flex-direction: row;
}

.main {
  background-color: yellow;
  padding: 0;      
  width: 500px;
  height: 100%;
}

.aside {
  background-color: green;
  width: 200px;
  height: 100%;
  justify-content: flex-end;
}