.wrapper {
  background-color: gray;
  display: flex;
  justify-content: center;
  width: 1000px;
  
  margin: 0 auto;
  padding: 0;
}

.navbar {
  background-color: purple;
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
}

a {
  background-color: cyan;
  margin: 10px;
  width: 100px;
  height: 20px;
  display: flex;
  flex-direction: row;
}

.main {
  background-color: yellow;
  padding: 0;      
  width: 490px;
  height: 700px;
  margin: 10px;
}

.aside {
  background-color: green;
  width: 290px;
  height: 700px;
  margin: 10px;
}

.footer {
  background-color: black;
  width: 800px;
  height: 200px;
  margin: 10px auto;
}