

* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: yellow;
  display: flex;
  width: 800px;
  height: 400px;
  justify-content: space-around;
  align-items: center;
}

.purple {
  background-color: purple;
  width: 100px;
  height: 100px;
  margin: auto;
}
