.container {
  width: 800px;
  height: 600px;
  background-color: grey;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.item {
  width: 100%;
  flex-grow: 1;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
  flex-grow: 2;
}

.purple {
  background-color: purple;  
}

