* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

html {
  font-size: 24px;
}

body {
  font-family: "Lato", sans-serif;
  background: #EEE;
}

header {
  width: 100%;
  height: 300px;
  background: url("http://longwallpapers.com/Desktop-Wallpaper/surreal-astronaut-wallpaper-background-For-Desktop-Wallpaper.jpg") no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
}

img {
  float: left;
}

h1 {
  float: left;
  color: white;
  font-style: italic;
  margin: 2 rem;
  font-size: 2rem;
  padding: 1rem;
}


#history {

}

#input-form {

}

button {

}