
body {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 20px;
}

container {
  width: 700px;
  height: 430px;
  background-color: rgb(67, 67, 247);
  border: solid 30px rgb(67, 67, 247);
}

table {
  border-collapse: collapse;
  border: hidden;
  width: 700px;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

tbody tr:nth-child(even) {
  background: rgb(212, 210, 210);
}

td, th {
  border: 2px solid rgb(117, 116, 116);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding: 20px;
  color:  grey;
}

thead {
  background-color: rgb(63, 60, 60);
  color:  grey;
  border-bottom: 4px solid #5b6e6e;
  text-align: left;
}